import(caret)
import(methods)
import(pycno)
import(raster)
import(dplyr)
import(sp)
import(parallel)

importFrom(plyr, aaply)

importFrom(foreach, getDoParWorkers)
importFrom(foreach, foreach)
importFrom(foreach, "%dopar%")

importFrom(boot, boot)

importFrom(magrittr, "%>%")

importFrom(viridis, viridis)

importFrom(GWmodel, gwr.basic)
importFrom(GWmodel, gwr.robust)
importFrom(GWmodel, gwr.mixed)
importFrom(GWmodel, gwr.predict)
importFrom(GWmodel, bw.gwr)

export(print.dissever)
S3method(print, dissever)
export(summary.dissever)
S3method(summary, dissever)
export(plot.dissever)
S3method(plot, dissever)

exportMethods(dissever)
exportMethods(generate_ci)
