import(caret)
import(methods)
import(raster)
import(dplyr)
import(sp)
import(parallel)
import(doParallel)
import(bigmemory)
import(ff)
import(ffbase)
import(nlme)
import(GWRM)
import(maptools) 
import(rgeos)
import(foreach)
import(Rcpp)
import(data.table)
import(biglm)
import(DBI)
import(flock)
import(raster)

importFrom(plyr, aaply)

importFrom(foreach, getDoParWorkers)
importFrom(foreach, foreach)
importFrom(foreach, "%dopar%")
importFrom(ff, chunk.ffdf)

importFrom(boot, boot)

importFrom(magrittr, "%>%")

importFrom(viridis, viridis)

importFrom(GWmodel, gwr.basic)
importFrom(GWmodel, gwr.robust)
importFrom(GWmodel, gwr.mixed)
importFrom(GWmodel, gwr.predict)
importFrom(GWmodel, gw.dist)
importFrom(GWmodel, bw.gwr)

export(print.dissever)
S3method(print, dissever)
export(summary.dissever)
S3method(summary, dissever)
export(plot.dissever)
S3method(plot, dissever)

exportMethods(dissever)
exportMethods(pycno)
exportMethods(generate_ci)
