import(caret)
import(methods)
import(pycno)
import(raster)
import(dplyr)
import(sp)

importFrom(plyr, aaply)

importFrom(foreach, getDoParWorkers)
importFrom(foreach, foreach)
importFrom(foreach, "%dopar%")

importFrom(boot, boot)

importFrom(magrittr, "%>%")

importFrom(viridis, viridis)

importFrom(spgwr, gwr)
importFrom(spgwr, gwr.sel)
importFrom(spgwr, ggwr.sel)

export(print.dissever)
S3method(print, dissever)
export(summary.dissever)
S3method(summary, dissever)
export(plot.dissever)
S3method(plot, dissever)

exportMethods(dissever)
exportMethods(generate_ci)
